:root {
  --color-primary-medium: #f25a70;
  --color-black-dark: #3a4042;
  --color-frontend: #f25a70;
  --color-black-medium: rgba(0, 0, 0, 0.6);
  --color-pomp-and-power: #7c5e99;
  
  
  
  --color-gray-light: #f5f5f5;
  --color-infra: #9cd33b;
  --color-backend: #00c86f;
  --color-marketing: #6b5be2;
  --color-mobile: #ffba05;
  --color-inovation: #ff8c2a;
  --color-ux: #dc6ebe;
  --color-data-science: #9cd338;
  --color-pixelart: #f25a70;
}
